.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.dropdown-toggle {
  width: 7em;
  margin: 0.1em;
  margin-top: -0.5em;
}
button {
    transform: rotate(90deg);
}
.navbar {
  margin-bottom: 0px;
}
