.container {
    display: inline-block;
    cursor: pointer;
    width: 0%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

ul{
    margin:0px;
    padding:0px;
}

ul list{
    list-style:none;
}

ul li a{
    background:#4E87C2;
    color:#FFFFFF;
    border-bottom:1px solid #026AA7;;
    display:block;
    width:180px;
    padding:10px;
    text-decoration: none;
    z-index: 10000;
}
