<h1>Team Page</h1>
<select>
    <option *ngFor="let member of members">{{member.fullName}}</option>

</select>

<div *ngIf="isShow">
    <table>
        <tr>
            <th><h3>{{fName}}</h3></th>
        </tr>
        <tr>
            <th><h4>Boards</h4></th>
        </tr>
        <tr *ngFor="let data of boardData">
            <td>{{data.name}}</td>
        </tr>
        <tr><th><h4>Assigned Cards</h4></th>
        </tr>

        <tr *ngFor="let data of cardData">
            <td>{{data.name}}</td>
        </tr>
        <tr><th><h4>Total Story Points</h4></th>
        </tr>

        <tr><td>{{userSP}}</td></tr>
    </table>
</div>